<div class="dashboard-container">

    <h4 class="heading-extra-margin-bottom">Filmes</h4>
    <div class="row">

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="item-listing-container-skrn">
                <a href="dashboard-movie-profile.html">
                    <img src="http://via.placeholder.com/500x707" alt="Listing"></a>
                <div class="item-listing-text-skrn">
                    <div class="item-listing-text-skrn-vertical-align">
                        <h6><a href="dashboard-movie-profile.html">The Wild Things Are</a></h6>
                        <div class="circle-rating-pro" data-value="0.86" data-animation-start-value="0.86" data-size="32" data-thickness="3" data-fill='{
                          "color": "#42b740"
                        }' data-empty-fill="#def6de" data-reverse="true"><span style="color:#42b740;">8.6</span></div>
                    </div>
                </div>
            </div>
        </div>















    </div>
    <!-- close .row -->


    <ul class="page-numbers">
        <li><a class="previous page-numbers" href="#!"><i class="fas fa-chevron-left"></i></a></li>
        <li><span class="page-numbers current">1</span></li>
        <li><a class="page-numbers" href="#!">2</a></li>
        <li><a class="page-numbers" href="#!">3</a></li>
        <li><a class="page-numbers" href="#!">4</a></li>
        <li><a class="next page-numbers" href="#!"><i class="fas fa-chevron-right"></i></a></li>
    </ul>


</div>
