<div class="dashboard-container">

  <h4 class="heading-extra-margin-bottom">Filmes</h4>
  <div class="row">

    <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let object of movieObject.content">
      <div class="item-listing-container-skrn">
        <a href="#">
          <img [src]="object.movie.image" alt="Listing"></a>
        <div class="item-listing-text-skrn">
          <div class="item-listing-text-skrn-vertical-align">
            <h6><a href="#">{{object.movie.title | slice:0:40 }} {{ object.movie.title
                !== null && object.movie.title.length>
                40 ? '...' : ''}}</a></h6>
            <div class="circle-rating-pro">
              <p-knob [(ngModel)]="object.movie.rating" [size]="40" [readonly]="true" [max]="10" valueColor="#42b740">
              </p-knob>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <ul class="page-numbers">
    <li><a class="previous page-numbers" href="#!"><i class="fas fa-chevron-left"></i></a></li>
    <li><span class="page-numbers current">1</span></li>
    <li><a class="page-numbers" href="#!">2</a></li>
    <li><a class="page-numbers" href="#!">3</a></li>
    <li><a class="page-numbers" href="#!">4</a></li>
    <li><a class="next page-numbers" href="#!"><i class="fas fa-chevron-right"></i></a></li>
  </ul>


</div>
