<header id="masthead-pro">
  <div class="container">

    <h1>
      <a href="index.html">
        <img src="./assets/images/logo.png" alt="Logo">
      </a>
    </h1>

    <nav id="site-navigation-pro">
      <ul class="sf-menu">
        <li class="normal-item-pro current-menu-item">
          <a href="#">Home</a>
        </li>
        <li class="normal-item-pro">
          <a href="#">Planos</a>
        </li>
        <li class="normal-item-pro">
          <a href="#">FAQs</a>
        </li>
      </ul>
    </nav>

    <button class="btn btn-header-pro noselect" data-toggle="modal" data-target="#LoginModal"
      role="button">Entrar</button>

    <div id="mobile-bars-icon-pro" class="noselect"><i class="fas fa-bars"></i></div>

    <div class="clearfix"></div>

  </div>


  <nav id="mobile-navigation-pro">
    <ul id="mobile-menu-pro">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Planos</a>
      </li>
      <li>
        <a href="#">FAQs</a>
      </li>
    </ul>
    <div class="clearfix"></div>

    <button class="btn btn-mobile-pro btn-green-pro noselect" data-toggle="modal" data-target="#LoginModal"
      role="button">Entrar</button>

  </nav>
</header>
