<div class="flexslider progression-studios-slider">
  <ul class="slides">

    <li class="progression_studios_animate_right">
      <div class="progression-studios-slider-image-background"
        style="background-image:url(./assets/images/banner/spider-man.png); background-color:#111015;">
        <div class="progression-studios-slider-display-table">
          <div class="progression-studios-slider-vertical-align">
            <div class="container">
              <div class="progression-studios-slider-caption-width">
                <div class="progression-studios-slider-caption-align">
                  <h2 class="light-fonts-pro">Homem Aranha</h2>
                  <h4 class="light-fonts-pro">Sem Volta Para Casa</h4>
                  <a class="btn btn-green-pro btn-slider-pro" href="#" role="button">Teste
                    Gratuito</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="progression_studios_animate_right">
      <div class="progression-studios-slider-image-background"
        style="background-image:url(./assets/images/banner/matrix.png); background-color:#111015;">
        <div class="progression-studios-slider-display-table">
          <div class="progression-studios-slider-vertical-align">
            <div class="container">
              <div class="progression-studios-slider-caption-width">
                <div class="progression-studios-slider-caption-align">
                  <h2 class=" light-fonts-pro">Matrix Resurrections</h2>
                  <a class="btn btn-green-pro btn-slider-pro" href="#" role="button">Teste Gratuito</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="progression_studios_animate_left">
      <div class="progression-studios-slider-image-background"
        style="background-image:url(./assets/images/banner/uncharted.png); ">
        <div class="progression-studios-slider-display-table">
          <div class="progression-studios-slider-vertical-align">
            <div class="container">
              <div class="progression-studios-slider-caption-width">
                <div class="progression-studios-slider-caption-align">
                  <h2 style="color: #FFFFFF;">Uncharted</h2>
                  <h4 style="color: #FFFFFF;">Fortuna de Drake</h4>
                  <a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="#" role="button">Teste Gratuito</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="progression-studios-slider-mobile-background-cover"></div>
      </div>
    </li>

  </ul>
</div>
